<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bxsbot.console.mapper.IndexDataMapper">

 
      <select id="getMsgByEvent" resultType="map">
  		SELECT id,mss_time AS mssTime,title,msg_sort AS msgSort FROM `msg_ca` WHERE sta=1 AND msg_event=#{code} AND mss_time >=#{time}  
  		ORDER BY mss_time  asc LIMIT 0,10
    </select>
    
    <select id="getWebNav" resultType="map">
  		SELECT  id,web_name AS webName,web_url webUrl FROM `web_nav` WHERE sta=1 AND web_nav_type=#{code} 
  		 LIMIT 0,30
    </select>
    
 <!--       <select id="getAutoConfig" resultType="com.bxsbot.console.bean.AutoLm">
  		SELECT id,run_clas AS runClas,files FROM `auto_lm` WHERE sta=1 AND id=#{id}
    </select>
    <select id="getLmItem" resultType="com.bxsbot.console.bean.LmItem">
  		 SELECT
        id AS id,
        lm_id AS lmId,
        item_name AS itemName,
        item_type AS itemType,
        item_val AS itemVal,
        operation AS operation,
        item_sort AS itemSort,
        operation_type AS operationType,
        op_type_fun AS opTypeFun,
        sta AS sta
    FROM lm_item
    WHERE sta = 1 AND lm_id = #{aid}
    order by item_sort ASC
    </select> -->
</mapper>
